@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 69 48% 95%;
    --foreground: 120 28% 14%;
    --card: 0 0% 100%;
    --card-foreground: 120 28% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 120 28% 14%;
    --primary: 128 35% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 71 24% 92%;
    --secondary-foreground: 120 28% 14%;
    --muted: 71 24% 92%;
    --muted-foreground: 120 7% 45%;
    --accent: 128 35% 48%;
    --accent-dark: 128 39% 39%;
    --accent-foreground: 120 28% 14%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 74 18% 82%;
    --input: 74 18% 82%;
    --ring: 128 35% 48%;
    --success: 128 35% 48%;
    --gold: 44 100% 64%;
    --navy: 0 0% 14%;
    --parchment: 71 24% 92%;
    --radius: 16px;
  }

  .dark:root {
    --background: 120 18% 11%;
    --foreground: 120 15% 91%;
    --card: 120 20% 15%;
    --card-foreground: 120 15% 91%;
    --popover: 120 20% 15%;
    --popover-foreground: 120 15% 91%;
    --primary: 128 35% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 17% 18%;
    --secondary-foreground: 120 15% 91%;
    --muted: 120 17% 18%;
    --muted-foreground: 120 10% 60%;
    --accent: 128 35% 48%;
    --accent-dark: 128 39% 39%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 60% 46%;
    --destructive-foreground: 0 0% 100%;
    --border: 120 17% 21%;
    --input: 120 17% 21%;
    --ring: 128 35% 48%;
    --success: 128 35% 48%;
    --gold: 44 100% 64%;
    --navy: 0 0% 14%;
    --parchment: 120 17% 18%;
  }
}
